
<body data-spy="scroll" data-target=".navbar-fixed-top" >
   <div class="navbar navbar-default navbar-fixed-top scroll-me"  >   <!-- pass scroll-me class above a tags to starts scrolling -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                   CoolCloud
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#header">POČETNA</a></li>
                    <li><a href="#about">O NAMA</a></li>
                    <li><a href="#clients">REFERENCE</a></li>
                    <li><a href="#citati">ŠTA KAŽU O NAMA</a></li>
                    <li><a href="#team">TIM</a></li>
                    <li><a href="#contact">KONTAKT</a></li>
                </ul>
            </div>
        </div>
    </div>
     <!-- NAVBAR END  -->        
    <div id="header" class="header">
        <div class="overlay">
            <div class="container" id="products">
                <div class="row scroll-me" style="margin-top: 50px">
                
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center " >

		                      <h1 >
		                        Zakup servera i desktop računara u cloudu.
		                      </h1>
		                      <h4>Anytime. Anywhere.</h4>
                      </div>
                </div>
                  <div class="row card-holder">
                    <div class="col-sm-6 col-md-4">
                      <div class="card thumbnail mb-4 box-shadow">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">BASIC</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-sale-card-title"><strong>39.99</strong> KM/mj.</h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>1 vCPU</li>
                            <li>1 GB RAM</li>
                            <li>20 GB HDD</li>
                            <li>Linux, Windows</li>
                            <li>*Cijena bez PDV-a</li>
                            <li>**Setup besplatno</li>
                          </ul>
                            <a href="/pages/order" class="btn btn-lg btn-block btn-success" role="button">Naruči</a>
                         </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="card thumbnail mb-4 box-shadow">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">BASIC PLUS</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-sale-card-title"><strong>49.99</strong> KM/mj.</h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>1 vCPU</li>
                            <li>2 GB RAM</li>
                            <li>40 GB HDD</li>
                            <li>Linux, Windows</li>
                            <li>*Cijena bez PDV-a</li>
                            <li>**Setup besplatno</li>
                          </ul>
                            <a href="/pages/order" class="btn btn-lg btn-block btn-success" role="button">Naruči</a>
                         </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="card thumbnail mb-4 box-shadow">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">STANDARD</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-sale-card-title"><strong>74.99</strong> KM/mj.</h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>2 vCPU</li>
                            <li>4 GB RAM</li>
                            <li>100 GB HDD</li>
                            <li>Linux, Windows</li>
                            <li>*Cijena bez PDV-a</li>
                            <li>**Setup besplatno</li>
                          </ul>
                            <a href="/pages/order" class="btn btn-lg btn-block btn-success" role="button">Naruči</a>
                         </div>
                      </div>
                    </div>
                  </div>
                  <div class="row card-holder">
                    <div class="col-sm-6 col-md-4">
                      <div class="card thumbnail mb-4 box-shadow">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">STANDARD PLUS</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-sale-card-title"><strong>105.99</strong> KM/mj.</h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>2 vCPU</li>
                            <li>8 GB RAM</li>
                            <li>150 GB HDD</li>
                            <li>Linux, Windows</li>
                            <li>*Cijena bez PDV-a</li>
                            <li>**Setup besplatno</li>
                          </ul>
                            <a href="/pages/order" class="btn btn-lg btn-block btn-success" role="button">Naruči</a>
                         </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="card thumbnail mb-4 box-shadow">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">PROFESSIONAL</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-sale-card-title"><strong>115.99</strong> KM/mj.</h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>4 vCPU</li>
                            <li>8 GB RAM</li>
                            <li>200 GB HDD</li>
                            <li>Linux, Windows</li>
                            <li>*Cijena bez PDV-a</li>
                            <li>**Setup besplatno</li>
                          </ul>
                            <a href="/pages/order" class="btn btn-lg btn-block btn-success" role="button">Naruči</a>
                         </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="card thumbnail mb-4 box-shadow">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">ENTERPRISE</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-sale-card-title"><strong>149.99</strong> KM/mj.</h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>8 vCPU</li>
                            <li>8 GB RAM</li>
                            <li>300 GB HDD</li>
                            <li>Linux, Windows</li>
                            <li>*Cijena bez PDV-a</li>
                            <li>**Setup besplatno</li>
                          </ul>
                            <a href="/pages/order" class="btn btn-lg btn-block btn-success" role="button">Naruči</a>
                         </div>
                      </div>
                    </div>
                  </div>

          </div>
	        </div>
        

    </div>
     <!--HEADER SECTION END  -->
<section id="about">
        <div class="container">
              
            <div class="row text-center">
                  
                 <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <h1 class="header-line">O NAMA</h1>
                    <h4 class="text-sec">
                        <strong>CloudCloud</strong> je softverska kompanija, specijalizovana za cloud usluge. Prvenstveno se bavimo iznajmljivanjem virtuelnih servera kao i razvojem web i desktop aplikacija te aplikacija za Android i iOS platformu.
                        Cilj nam je pružiti klijentima sigurnu i pouzdanu cloud uslugu, čije se prednosti očituju prvenstveno u pogledu redundantnosti, fleksibilnosti i skalabilnosti a koje su značajno naprednija opcija od tradicionalnih rješenja.
                    </h4>
                     <h4 class="text-sec">
                        Naši klijenti mogu da zaborave na probleme nedovoljnih resursa, nepouzdane infrastrukture, kapaciteta, nestabilnih klimatskih uslova i fizičke sigurnosti servera.
                    </h4>
                </div>
                 
            </div>
          
          
           
            </div>
    </section>

  

    <section id="clients">
        <div class="container">
          <div class="row text-center">
          	 <h1 class="header-line">REFERENCE </h1>
				  <div class="col-md-4">
				    <div class="thumbnail">
				      <a href="http://www.lrcbh.com/" target="_blank">
				        <img src="assets/lrcincasso.jpg" alt="inkasso" style="width:100%">
				        <div class="caption">
				        </div>
				      </a>
				    </div>
				  </div>
				  <div class="col-md-4">
				    <div class="thumbnail">
				      <a href="http://www.lrcbh.com/" target="_blank">
				        <img src="assets/lrcbis.jpg" alt="LrcBis" style="width:100%">
				        <div class="caption">

				        </div>
				      </a>
				    </div>
				  </div>
				  <div class="col-md-4">
				    <div class="thumbnail">
				      <a href="http://www.poslovnenovine.ba/" target="_blank">
				        <img src="assets/poslovnenovine.jpg" alt="PoslovneNovine" style="width:100%">
				        <div class="caption">

				        </div>
				      </a>
				    </div>
				  </div>
				</div>
			</div>
        </div>
    </section>
    <section id="citati">
        <div class="container text-center">
 <h1 class="header-line">ŠTA KAŽU O NAMA </h1>
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center " >
                <blockquote class="blockquote">
                <p class="mb-1">Dok smo imali fizički server, strahovao sam svaki dan da se ne desi havarija. Sad imamo cloud server i jedno veliko olakšanje.</p>
                <footer class="blockquote-footer">Ime i prezime<cite title="Source Title"> direktor direktor</cite></footer>
                </blockquote>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center " >
                <blockquote class="blockquote">
                <p class="mb-1">Prije korištenja CoolCloud clouda koristili smo fizičke servere, koji su zahtjevali česte intervencije servisera, zbog kvarova ili nadogradnji. To nas je sve puno koštalo vremena i novca, a serveri su bili često nedostupni. Zahvaljujući CoolCloud cloudu smanjili smo troškove i povećali dostupnost i sigurnost naših podataka.</p>
                <footer class="blockquote-footer">Ime i prezime<cite title="Source Title"> direktor</cite></footer>
                </blockquote>
              </div>
          </div>

  </section>
        <!-- ABOUT SECTION END -->
  
    <section id="team">
        <div class="container">
              
            <div class="row text-center">
                  
                 <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <h1 class="header-line">TIM</h1>
                    
                </div>
                 
            </div>
            <div class="row pad-bottom hide">
                  
                 <div class="col-md-6 col-sm-6">
                    <div class="media">
                      <a class="media-left" href="#">
                          <img src="assets/avatar-male.png" alt="" class="img-circle" />
                      </a>     
                      <div class="media-body">
                        <h3 class="media-heading">Direktor</h3>
                          Haris.
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                        <div class="media">
                          <a class="media-left" href="#">
                              <img src="assets/avatar-female.png" alt="" class="img-circle" style="width: 130px" />
                          </a>
                          <div class="media-body">
                            <h3 class="media-heading">Marketing Manager</h3>
                              Dija.
                          </div>
                        </div>
                </div>
            </div>
          
          <div class="row text-center">
                  
                 <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                       <h4 class="text-sec">
                        Naš tim je spoj dugogodišnjeg iskustva i mladalačke energije. Tim koji je u svakom trenutku spreman da prihvati izazov i da riješi najzahtjevnije zadatke.
                        Naša glavna pokretačka snaga je ogromna ljubav prema novim tehnologijama. Zato konstantno ulažemo vrijeme, trud i novac u savladavanju istih. 
                    </h4>
                 </div>
               
          </div>
           
      </div>
    </section>
    <!-- TEAM SECTION END -->	 

    <section id="contact">
        <div class="container">
               <div class="row text-center pad-bottom">
                  
                 <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <h1 class="header-line">KONTAKT</h1>
                      <h4 class="text-sec">
                        Slobodno nam pišite. Biće nam zadovoljstvo da Vam našim iskustvom i znanjem pomognemo u rješavanju Vaših problema.
                    </h4>
                     <br />
						<div class="row">
						  <div class="col-xs-12 col-sm-12">
	                        <a href="" class="btn btn-social btn-facebook">
	                            <i class="fa fa-facebook"></i>&nbsp; Facebook</a>
	                        <a href="#" class="btn btn-social btn-google">
	                            <i class="fa fa-google-plus"></i>&nbsp; Google</a>

		                        <a href="">
		                            <i class="fa fa-twitter"></i>&nbsp; Twitter</a>
		                        <a href="">
		                            <i class="fa fa-linkedin"></i>&nbsp; Linkedin </a>
						  	
						</div>
					</div>

                     <br /><br />
                     <h3><strong>Adresa : </strong> <br />Sarajevo,<br />
                     Bosna i Hercegovina<br /> tel:+387 61 356 987 </h3>
                     <h3><strong>Email : </strong> info@coolcloud.ba</h3>
                </div>
                 
            </div>
              
          
           
            </div>
    </section>

     <!-- CONTACT SECTION END -->
    <footer>
        &copy 2018 CoolCloud <a href="index.html" target="_blank" ></a>
    </footer>
  </body>   
    
